* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box; }

/*Breakpoints */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/squared_metal.png");
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif; }

html {
  overflow-y: scroll; }

h1 {
  font-size: 18px;
  font-weight: lighter;
  margin: 0 0 5px 0; }

a {
  color: #4a4a4a;
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style: none;
  padding: 0; }

.leftMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .leftMenu #logo img {
    width: 100px; }
  .leftMenu #moreInfo {
    opacity: 0.5;
    height: 15px;
    width: auto; }

.topMenu {
  position: absolute;
  top: 10px; }

.bottomMenu {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 230px;
  justify-content: space-between; }

.tipso_bubble {
  margin-left: 10px; }

.title-text {
  font-size: 16px;
  vertical-align: super;
  margin-bottom: 20px; }

.hidden {
  display: none; }

.grn {
  color: #AF9E3A; }

.org {
  color: #D55D16; }

.secondary, label {
  color: #a1a1a1;
  font-size: 0.8em; }
  .secondary img, label img {
    width: 12px;
    opacity: 0.3;
    margin: 0 5px; }

.shell {
  font-family: Helvetica, sans-serif;
  position: relative;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: lighter;
  margin: 0 0;
  user-select: none;
  width: 800px;
  max-height: 600px;
  height: 80%;
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.22), 0px 24px 24px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px; }

#nextarrow {
  transform: rotate(180deg);
  display: none;
  position: absolute;
  right: 5px;
  top: 29px;
  cursor: pointer; }

#loginForm {
  padding-right: 30px; }

.errorText {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color: #FFCCCC;
  border-radius: 2px;
  display: none; }
  .errorText a:hover {
    text-decoration: underline; }

.header {
  width: 100%;
  /*height: 40px */
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: -webkit-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%);
  background-image: -o-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%);
  background-image: linear-gradient(to right, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%); }
  .header img {
    height: 100%; }

.content {
  /*padding: 0 30px */
  overflow: hidden;
  height: 100%; }

.lower-container {
  display: flex;
  flex-direction: row; }

.half-width {
  position: relative;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column; }
  .half-width input[type=search] {
    width: 100%;
    height: 30px;
    padding: 5px 8px;
    border: 1px solid #a1a1a1; }
    .half-width input[type=search]:focus svg {
      opacity: 0; }

.left {
  width: 40%;
  border-right: 1px solid #f1f1f1;
  padding-right: 0px; }

.right {
  width: 60%; }

input {
  width: 100%;
  height: 30px;
  padding: 5px 8px;
  border: 1px solid #a1a1a1; }
  input:focus {
    outline: 1px solid #AF9E3A;
    transition: 0.3s outline ease; }
  input[type=text] {
    height: 40px;
    font-weight: 400;
    font-size: 1.5em; }

#searchBox {
  display: none; }

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  fill: #a1a1a1; }

.files-list {
  overflow-y: auto;
  height: 100%; }
  .files-list .file {
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-bottom: 0.5px solid #f1f1f1;
    border-radius: 3px 0 0 3px; }
    .files-list .file:hover > * {
      color: #AF9E3A; }
    .files-list .file:hover > .arrow {
      display: block; }
    .files-list .file .name {
      margin-bottom: 5px; }
    .files-list .file .secondary, .files-list .file label {
      position: absolute;
      right: 5px;
      bottom: 10px; }

.empty-files-list {
  display: none;
  position: absolute;
  top: 70px; }

.issue-title {
  font-weight: bold;
  font-size: 0.8em; }

.resources {
  display: flex;
  flex-direction: column; }
  .resources img {
    height: 80%;
    margin: 0 auto; }
  .resources a {
    margin-bottom: 10px; }
    .resources a:hover {
      color: #D55D16; }
    .resources a img {
      width: 12;
      color: #4a4a4a; }

.description {
  margin-bottom: 20px;
  height: 100px; }

.modelImg {
  width: 100%; }

.meta-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #a1a1a1;
  padding: 10px 0;
  margin-bottom: 20px; }
  .meta-holder img {
    width: 12px;
    margin-right: 2px;
    vertical-align: middle; }

.launch {
  margin-right: 10px; }

.primary-btn {
  cursor: pointer;
  border: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #f1f1f1;
  color: #4a4a4a;
  border-radius: 2px;
  transition: all 0.4s; }
  .primary-btn:hover {
    background-image: -webkit-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%);
    background-image: -o-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%);
    background-image: linear-gradient(49deg, #DA5612 0%, #ACA33D 100%);
    color: white; }

.secondary-btn, input[type=submit] {
  background-color: rgba(33, 33, 33, 0.05);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #4a4a4a;
  border-radius: 2px;
  margin-top: 10px;
  width: fit-content; }
  .secondary-btn:hover, input[type=submit]:hover {
    background-color: #a1a1a1; }

#updateModelForm {
  display: none; }

#updateModelForm input:not(:last-child) {
  display: none; }

#updateModelForm .chosenFiles {
  margin-bottom: 10px; }

#updateModelForm > .divForm {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 100%;
  background-color: #f1f1f1; }
  #updateModelForm > .divForm .long {
    min-height: 100px; }
  #updateModelForm > .divForm:focus {
    outline: 1px solid #AF9E3A;
    transition: 0.3s outline ease; }

.modelInfo {
  display: none;
  flex-direction: column;
  height: 100%; }
  .modelInfo .title-text {
    margin-bottom: 10px; }
  .modelInfo .saveButton {
    display: none;
    margin-top: 0px;
    background-color: #f1f1f1; }

.modelInfo > .editable {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid transparent; }
  .modelInfo > .editable:hover {
    border: 1px dotted #f1f1f1; }
    .modelInfo > .editable:hover:after {
      content: " ";
      position: absolute;
      right: 20px;
      transform: translateY(-50%);
      top: 50%;
      background: url("../img/edit.svg") no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px; }
  .modelInfo > .editable:focus {
    transition: 0.3s background-color;
    background-color: #f1f1f1; }

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top; }
  .loader svg path,
  .loader svg rect {
    fill: #a1a1a1; }
  .loader .listLoad {
    display: none; }

.loadingModel {
  visibility: hidden;
  padding: 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.circle {
  position: absolute;
  right: 5%;
  top: -7px;
  background-color: #AF9E3A;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.3s all; }
  .circle:hover {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); }
  .circle:active {
    box-shadow: 0px 0px 0px;
    background-color: #a1a1a1; }

.plus.icon {
  color: #000; }

.plus.icon:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: white; }

.invitationForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%; }
  .invitationForm h3 {
    width: 200px; }
  .invitationForm input {
    flex-grow: 1;
    margin-right: 10px; }
  .invitationForm input[type=submit] {
    height: 40px;
    margin-top: 0px;
    border: none; }

.plus.icon:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  font-style: italic;
  opacity: 0.5; }

@media (max-width: 400px) {
  .half-width {
    padding: 15px; }

  .left {
    padding-right: 0px; } }

/*# sourceMappingURL=style.css.map */
