* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("squared_metal.png");
  -webkit-font-smoothing: antialiased; }

html {
  overflow-y: scroll; }

h1 {
  font-size: 18px;
  font-weight: lighter;
  margin: 0 0 5px 0; }

a {
  color: #4a4a4a;
  text-decoration: none;
  cursor: pointer; }

#logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1; }
  #logo img {
    width: 100px; }

.title-text {
  font-size: 16px;
  vertical-align: super;
  margin-bottom: 20px; }

.grn {
  color: #AF9E3A; }

.org {
  color: #D55D16; }

.secondary {
  color: #d6d6d6;
  font-size: 0.8em; }
  .secondary img {
    width: 12px;
    opacity: 0.3;
    margin: 0 5px; }

.shell {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: lighter;
  margin: 0 0;
  user-select: none;
  width: 800px;
  height: 80%;
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.22), 0px 24px 24px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

.header {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: -webkit-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%);
  background-image: -o-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%);
  background-image: linear-gradient(to right, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%); }
  .header img {
    height: 100%; }

.content {
  padding: 0 30px;
  overflow: hidden; }

.lower-container {
  display: flex;
  flex-direction: row; }

.full-width {
  position: relative;
  width: 100%;
  height: 77px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px solid #d6d6d6; }
  .full-width .backarrow {
    position: absolute;
    left: 0px;
    width: 30px;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer; }

.half-width {
  position: relative;
  width: 50%;
  height: calc(100% - 107px);
  padding: 20px;
  display: flex;
  flex-direction: column; }
  .half-width svg:first-child {
    fill: #AF9E3A; }
  .half-width input[type=search] {
    width: 100%;
    height: 30px;
    padding: 5px 8px;
    border: 1px solid #d6d6d6; }
    .half-width input[type=search]:focus .search-icon {
      display: none; }

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  fill: #d6d6d6; }

.half-width:nth-child(2) svg {
  fill: #D55D16; }

.files-list {
  overflow-y: scroll; }
  .files-list .file {
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    border-bottom: 0.5px solid #d6d6d6; }
    .files-list .file:hover > * {
      color: #AF9E3A; }
    .files-list .file .name {
      margin-bottom: 5px; }
    .files-list .file .secondary {
      position: absolute;
      right: 0px;
      bottom: 10px; }

.issue-title {
  font-weight: bold;
  font-size: 0.8em; }

.resources {
  display: flex;
  flex-direction: column; }
  .resources a {
    margin-bottom: 10px; }
    .resources a:hover {
      color: #D55D16; }
    .resources a img {
      width: 12;
      color: #4a4a4a; }

.description {
  margin-bottom: 20px;
  flex-grow: 2; }

.meta-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #d6d6d6;
  padding: 10px 0;
  margin-bottom: 20px; }
  .meta-holder img {
    width: 12px;
    margin-right: 2px;
    vertical-align: middle; }

.launch {
  margin-right: 10px; }

.primary-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4a4a4a;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(179, 179, 179, 0.5);
  transition: all 0.4s; }
  .primary-btn:hover {
    background-image: -webkit-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%);
    background-image: -o-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%);
    background-image: linear-gradient(49deg, #DA5612 0%, #ACA33D 100%); }

.secondary-btn {
  background-color: #AF9E3A;
  padding: 5px 10px;
  font-size: 0.8em;
  color: white;
  border-radius: 2px;
  margin-top: 10px;
  width: fit-content; }

/*# sourceMappingURL=style.css.map */
