*
  -webkit-overflow-scrolling: touch
  box-sizing: border-box

$font-stack: Helvetica, sans-serif
$pri-color: rgb(74,74,74)
$sec-color: rgb(161,161,161)
$ter-color: rgb(241,241,241)
$green-color: #AF9E3A
$orange-color: #D55D16

body
  display: flex
  justify-content: center
  align-items: center
  background: url("../img/squared_metal.png")
  -webkit-font-smoothing: antialiased
  font-family: $font-stack

html
  overflow-y: scroll

h1
  font-size: 18px
  font-weight: lighter
  margin: 0 0 5px 0

a
  color: $pri-color
  text-decoration: none
  cursor: pointer

.leftMenu
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 1vw
  height: 100px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  #logo
    img
      width: 100px
  #moreInfo
    opacity: .5
    height: 15px
    width: auto

.bottomMenu
  position: absolute
  bottom: 20px
  display: flex
  flex-direction: row
  width: 230px
  justify-content: space-between

.tipso_bubble
  margin-left: 10px

.title-text
  font-size: 16px
  vertical-align: super
  margin-bottom: 20px

.hidden
  display: none

.grn
  color: $green-color

.org
  color: $orange-color

.secondary
  color: $sec-color
  font-size: .8em
  img
    width: 12px
    opacity: .3
    margin: 0 5px

.shell
  font-family: $font-stack
  position: relative
  font-size: 14px
  color: $pri-color
  font-weight: lighter
  margin: 0 0
  user-select: none
  width: 800px
  max-height: 600px
  height: 80%
  background-color: white
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.22), 0px 24px 24px 0px rgba(0,0,0,0.30)
  border-radius: 2px

#login
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 60px

#nextarrow
  transform: rotate(180deg)
  display: none
  position: absolute
  right: 5px
  top: 29px
  cursor: pointer

#loginForm
  padding-right: 30px

.errorText
  width: 100%
  padding: 5px
  margin-top: 5px
  background-color: #FFCCCC
  border-radius: 2px
  display: none
  a:hover
    text-decoration: underline


.header
  width: 100%
  height: 40px
  padding: 5px 0
  display: flex
  flex-direction: row
  justify-content: center
  background-image: -webkit-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%)
  background-image: -o-linear-gradient(left, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%)
  background-image: linear-gradient(to right, #E7E7E7 0%, #F2F2F2 51%, #E7E7E7 100%)
  img
    height: 100%

.content
  /*padding: 0 30px*/
  overflow: hidden

.lower-container
  display: flex
  flex-direction: row

.half-width
  overflow:hidden
  position: relative
  height: 100%
  padding: 30px 20px
  display: flex
  flex-direction: column
  svg:first-child
    fill: $green-color
  input[type=search]
    width: 100%
    height: 30px
    padding: 5px 8px
    border: 1px solid $sec-color
    &:focus svg
      opacity: 0

.left
  width: 40%
  border-right: 1px solid $ter-color
  padding-right: 0px
.right
  width: 60%



input
  width: 100%
  height: 30px
  padding: 5px 8px
  border: 1px solid $sec-color
  &:focus
    outline: 1px solid $green-color
    transition: .3s outline ease
  &[type=text]
    height: 50px
    font-weight: 400
    font-size: 1.5em
  &[type=submit]
    @extend .secondary-btn

#searchBox
  display: none
.search-icon
  position: absolute
  top: 50%
  right: 5px
  transform: translateY(-50%)
  fill: $sec-color

label
  @extend .secondary


.files-list
  overflow-y: auto
  height: 100%
  .file
    &:hover > *
      color: $green-color
    &:hover > .arrow
      display: block
    cursor: pointer
    position: relative
    padding: 5px
    border-bottom: .5px solid $ter-color
    border-radius: 3px 0 0 3px
    .name
      margin-bottom: 5px
    .secondary
      position: absolute
      right: 5px
      bottom: 10px

.empty-files-list
  display: none
  position: absolute
  top: 70px

.issue-title
  font-weight: bold
  font-size: .8em

.resources
  display: flex
  flex-direction: column
  img
    height: 80%
    margin: 0 auto
  a
    &:hover
      color: $orange-color
    margin-bottom: 10px
    img
      width: 12
      color: $pri-color

.description
  margin-bottom: 20px
  height: 200px


.meta-holder
  display: flex
  flex-direction: row
  justify-content: space-between
  border-bottom: .5px solid $sec-color
  padding: 10px 0
  margin-bottom: 20px
  img
    width: 12px
    margin-right: 2px
    vertical-align: middle

.launch
  margin-right: 10px

.primary-btn
  cursor: pointer
  border: 0px
  font-weight: bold
  text-transform: uppercase
  font-size: 10px
  padding: 10px 20px
  margin-left: 10px
  background-color: $ter-color
  color: $pri-color
  border-radius: 2px
  transition: all .4s
  &:hover
    background-image: -webkit-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%)
    background-image: -o-linear-gradient(319deg, #DA5612 0%, #ACA33D 100%)
    background-image: linear-gradient(49deg, #DA5612 0%, #ACA33D 100%)
    color: white

.secondary-btn
  background-color: rgba(33,33,33,.05)
  cursor: pointer
  padding: 5px 10px
  font-size: .8em
  color: $pri-color
  border-radius: 2px
  margin-top: 10px
  width: fit-content
  &:hover
    background-color: $sec-color

#updateModelForm
  display: none

#updateModelForm input:not(:last-child)
  display: none

#updateModelForm .chosenFiles
  margin-bottom: 10px

#updateModelForm > .divForm
  margin-bottom: 20px
  padding: 10px
  max-width: 100%
  background-color: $ter-color
  .long
    min-height: 100px
  &:focus
    outline: 1px solid $green-color
    transition: .3s outline ease

.modelInfo
  display: none
  flex-direction: column
  height: 100%
  .title-text
    margin-bottom: 10px
  .saveButton
    display: none
    margin-top: 0px
    background-color: $ter-color

.modelInfo > .editable
  margin-bottom: 20px
  position: relative
  border: 1px solid transparent
  &:hover
    border: 1px dotted $ter-color
    &:after
      content: " "
      position: absolute
      right: 20px
      transform: translateY(-50%)
      top: 50%
      background: url("../img/edit.svg") no-repeat
      background-size: contain
      width: 14px
      height: 14px
  &:focus
    transition: .3s background-color
    background-color: $ter-color



.loader
  display: none
  margin: 0 0 2em
  height: 100px
  width: 20%
  text-align: center
  padding: 1em
  margin: 0 auto 1em
  display: inline-block
  vertical-align: top
  svg path,
  svg rect
    fill: $sec-color

.circle
  position: absolute
  right: 25px
  top: -7px
  background-color: $green-color
  width: 31px
  height: 31px
  display: flex
  align-items: center
  border-radius: 100%
  padding-left: 8px
  cursor: pointer
  transition: .3s all
  &:hover
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  &:active
    box-shadow: 0px 0px 0px
    background-color: $sec-color

.plus.icon
  color: #000

.plus.icon:before
  content: ''
  position: absolute
  width: 15px
  height: 1px
  background-color: white


.plus.icon:after
  content: ''
  position: absolute
  width: 15px
  height: 1px
  background-color: white
  -webkit-transform: rotate(90deg)
  transform: rotate(90deg)



